
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #000000;
}
.comment .comment-arrow {
  border-color: #24799e;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #24799e;
}
.tabs ul.primary li a.active {
  background-color: #24799e;
}
.tabs ul.primary li.active a {
  background-color: #24799e;
  border-bottom: 1px solid #24799e;
}
#header {
  background-color: #3fbcf1;
  background-image: -moz-linear-gradient(top, #000000 0%, #3fbcf1 100%);
  background-image: -ms-linear-gradient(top, #000000 0%, #3fbcf1 100%);
  background-image: -o-linear-gradient(top, #000000 0%, #3fbcf1 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000000), color-stop(1, #3fbcf1));
  background-image: -webkit-linear-gradient(top, #000000 0%, #3fbcf1 100%);
  background-image: linear-gradient(top, #000000 0%, #3fbcf1 100%);
}
a {
  color: #eab213;
}
a:hover,
a:focus {
  color: #ffc421;
}
a:active {
  color: #ffd254;
}
.sidebar .block {
  background-color: #b5e0ef;
  border-color: #b5e0ef;
}
#page-wrapper,
#footer-wrapper {
  background: #292929;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #e4b00f;
}
